# Directorio de trabajo de Terraform
.terraform/

# Archivos de estado
*.tfstate
*.tfstate.*

# Variables locales o sensibles
*.tfvars
*.tfvars.json

# Archivos de crash
crash.log
crash.*.log

# Planes guardados
*.tfplan
tfplan

# Overrides locales
override.tf
override.tf.json
*_override.tf
*_override.tf.json
